@model OrderVM

<form method="post">
    <input asp-for="OrderHeader.Id" hidden />
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        <i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right">
                       
                        <a asp-action="Index" class="btn btn-outline-info form-control btn-sm">
                            Back to Orders
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">PickUp Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_User))
                                    {
                                        <input asp-for="OrderHeader.Name" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.Name" readonly type="text" class="form-control" />
                                    }
                                    <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Phone</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_User))
                                    {
                                        <input asp-for="OrderHeader.MobileNumber" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.MobileNumber" readonly type="text" class="form-control" />
                                    }
                                    <span asp-validation-for="OrderHeader.MobileNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Address</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_User))
                                    {
                                        <input asp-for="OrderHeader.StreetAddress" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.StreetAddress" readonly type="text" class="form-control" />
                                    }
                                    <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">City</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_User))
                                    {
                                        <input asp-for="OrderHeader.City" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.City" readonly type="text" class="form-control" />
                                    }
                                    <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">State</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_User))
                                    {
                                        <input asp-for="OrderHeader.State" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.State" readonly type="text" class="form-control" />
                                    }
                                    <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Zip Code</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_User))
                                    {
                                        <input asp-for="OrderHeader.PostalCode" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.PostalCode" readonly type="text" class="form-control" />
                                    }
                                    <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_User))
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.Email" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.Email" readonly type="text" class="form-control" />
                                    }
                                    <span asp-validation-for="OrderHeader.ApplicationUser.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Order Date</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_User))
                                    {
                                        <input asp-for="OrderHeader.OrderDate" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.OrderDate" readonly type="text" class="form-control" />
                                    }
                                    <span asp-validation-for="OrderHeader.OrderDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Carrier</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin))
                                    {
                                        <input asp-for="OrderHeader.Carrier" id="carrier" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.Carrier" readonly type="text" class="form-control" />
                                    }
                                    
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Tracking</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin))
                                    {
                                        <input asp-for="OrderHeader.TrackingNumber" id="trackingNumber" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.TrackingNumber" readonly type="text" class="form-control" />
                                    }
                                   
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Shipping Date</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_User))
                                    {
                                        <input asp-for="OrderHeader.ShippingDate" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.ShippingDate" readonly type="text" class="form-control" />
                                    }
                                    <span asp-validation-for="OrderHeader.ShippingDate" class="text-danger"></span>
                                </div>
                            </div>

                            @* <div class="row my-1">
                            <div class="col-3">Session ID</div>
                            <div class="col-9">
                            @if (User.IsInRole(SD.Role_User))
                            {
                            <input asp-for="OrderHeader.S" readonly type="text" class="form-control" />
                            }
                            else
                            {
                            <input asp-for="OrderHeader.State" readonly type="text" class="form-control" />
                            }
                            <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                            </div>
                            </div>
                            <div class="row my-1">
                            <div class="col-3">Payment Intent ID</div>
                            <div class="col-9">
                            @if (User.IsInRole(SD.Role_User))
                            {
                            <input asp-for="OrderHeader.PaymentIntent" readonly type="text" class="form-control" />
                            }
                            else
                            {
                            <input asp-for="OrderHeader.PaymentIntent" readonly type="text" class="form-control" />
                            }
                            <span asp-validation-for="OrderHeader.PaymentIntent" class="text-danger"></span>
                            </div>
                            </div> *@

                            <div class="row my-1">

                                @*  <div class="col-3">Payment Due Date</div>
                                <div class="col-9">
                                @if (User.IsInRole(SD.Role_User))
                                {
                                <input asp-for="OrderHeader.PaymentDueDate" readonly type="text" class="form-control" />
                                }
                                else
                                {
                                <input asp-for="OrderHeader.PaymentDueDate" readonly type="text" class="form-control" />
                                }
                                <span asp-validation-for="OrderHeader.PaymentDueDate" class="text-danger"></span>
                                </div>

                                <div class="col-3">Payment Date</div>
                                <div class="col-9">
                                @if (User.IsInRole(SD.Role_User))
                                {
                                <input asp-for="OrderHeader.PaymentDate" readonly type="text" class="form-control" />
                                }
                                else
                                {
                                <input asp-for="OrderHeader.PaymentDate" readonly type="text" class="form-control" />
                                }
                                <span asp-validation-for="OrderHeader.PaymentDate" class="text-danger"></span>
                                </div> *@

                            </div>
                            <div class="row my-1">
                                <div class="col-3">Payment Status</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_User))
                                    {
                                        <input asp-for="OrderHeader.PaymentStatus" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.PaymentStatus" readonly type="text" class="form-control" />
                                    }
                                    <span asp-validation-for="OrderHeader.PaymentStatus" class="text-danger"></span>
                                </div>
                            </div>

                            




                           @*  <input type="submit" class="btn btn-warning form-control my-1" value="Update Order Details" /> *@

                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Order Summary</span>
                            </h4>
                            <label class="btn btn-outline-primary form-control my-2">Order Status - @Model.OrderHeader.OrderStatus</label>

                            <ul class="list-group mb-3">
                                @foreach (var detail in Model.OrderDetail)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">

                                                <h6 class="my-0 text-primary">@detail.Product.Name</h6>
                                                <small class="text-muted">Price : @detail.Price</small><br />
                                                <small class="text-muted">Quantity :@detail.Count </small>
                                            </div>
                                            <div class="col-4 text-end">
                                                <p class="text-success">@((detail.Count * detail.Price))</p>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="list-group-item bg-primary">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">TOTAL(&#x20B9) </h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5 class="text-white">@Model.OrderHeader.OrderTotal</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            @if (Model.OrderHeader.CancellationStatus == SD.StatusPending && User.IsInRole(SD.Role_Admin))
           
                            {
                                <div class="row my-1">
                                    <div class="col-3">Cancellation Reason</div>
                                    <div class="col-9">
                                        @if (User.IsInRole(SD.Role_Admin))
                                        {
                                            <input asp-for="OrderHeader.CancellationReason" readonly type="text" class="form-control" />
                                        }

                                    </div>
                                </div>
                            }


                            @if (User.IsInRole(SD.Role_Admin))
                            {
                                @if (Model.OrderHeader.OrderStatus == SD.StatusApproved && Model.OrderHeader.CancellationStatus !=SD.StatusPending)
                                {
                                    <button type="submit" asp-action="StartProcessing"
                                        class="btn btn-primary form-control my-1">Start Processing</button>
                                }
                                @if (Model.OrderHeader.OrderStatus == SD.StatusInProcess)
                                {
                                    <button type="submit" asp-action="ShipOrder" onclick="return validateInput()" class="btn btn-primary form-control my-1">Ship Order</button>
                                }


                                @if (Model.OrderHeader.OrderStatus == SD.StatusShipped)
                                {
                                    <button type="submit" asp-action="Delivered"
                                            class="btn btn-primary form-control my-1">
                                        Delivered
                                    </button>
                                }

                            }
                            @if (Model.OrderHeader.OrderStatus != SD.StatusRefunded  &&
                            Model.OrderHeader.OrderStatus != SD.StatusCancelled && User.IsInRole(SD.Role_User) && Model.OrderHeader.CancellationStatus !=SD.StatusPending)

                            {
                                
                                <div class="form-group">
                                    <label>Cancellation Reason</label>
                                    
                                    <select name="reason" id="cancellationReason" class="form-control" required>
                                        <option value="">Select a reason</option>
                                        <option value="Found a better price elsewhere">Found a better price elsewhere</option>
                                        <option value="Product is no longer needed">Product is no longer needed</option>
                                        <option value="Ordered by mistake">Ordered by mistake</option>
                                        <option value="Product did not meet expectations">Product did not meet expectations</option>
                                        <option value="Shipping time was too long">Shipping time was too long</option>
                                        <option value="Changed my mind">Changed my mind</option>
                                        <option value="Duplicate order">Duplicate order</option>
                                        <option value="Product is out of stock">Product is out of stock</option>
                                        <option value="Received as a gift">Received as a gift</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <span asp-validation-for="CancellationRequest.Reason" class="text-danger"></span>
                                    <div id="cancellationReasonWarning" class="text-danger" style="display: none;">Please provide a reason for cancellation.</div>
                                </div>
                                <button type="submit" asp-action="CancelOrder" class="btn btn-danger form-control my-1" onclick="return validateCancellationReason()">Cancel Order</button>


                            }
                            
                            @if (Model.OrderHeader.OrderStatus != SD.StatusRefunded  &&
                            Model.OrderHeader.OrderStatus != SD.StatusCancelled && User.IsInRole(SD.Role_Admin) && Model.OrderHeader.CancellationStatus !=SD.StatusPending)

                            {
                                <button type="submit" asp-action="CancelOrder" class="btn btn-danger form-control my-1">Cancel Order</button>

                            }

                            @if (Model.OrderHeader.CancellationStatus==SD.StatusPending
                            && User.IsInRole(SD.Role_Admin))
                            {
                                <div class="mt-3">
                                    <button type="submit" asp-action="ApproveCancellation" class="btn btn-success">Approve</button>
                                   @*  <button type="submit" asp-action="RejectCancellation" class="btn btn-danger">Reject</button> *@
                                </div>
                                
                            }
                           
                                
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post">
    <input asp-for="OrderHeader.Id" hidden />
    @if (User.IsInRole(SD.Role_User))
    {
        @if (Model.OrderHeader.OrderStatus == SD.StatusShipped || Model.OrderHeader.OrderStatus == SD.StatusDelivered)
        {
            <button class="btn btn-outline-primary 
form-control my-1" asp-action="Invoice" asp-controller="Order" asp-route-orderId="@Model.OrderHeader.Id">Download Invoice</button>
        }
    }

</form>



<form method="post">
    <input asp-for="OrderHeader.Id" hidden />
@if (Model.OrderHeader.PaymentMethod == SD.PaymentMethodOnline.ToString() && Model.OrderHeader.PaymentStatus == SD.PaymentStatusDelayPayment)
{
    <button type="submit" asp-action="ContinuePayment" class="btn btn-primary form-control my-1">Continue Payment</button>

}
</form>


@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function validateInput() {
            if (document.getElementById("trackingNumber").value == "") {
                swal.fire({
                    icon: 'error',
                    title: 'Oops.....',
                    text: 'Please enter tracking number',
                });
                return false;
            }
            if (document.getElementById("carrier").value == "") {
                swal.fire({
                    icon: 'error',
                    title: 'Oops.....',
                    text: 'Please enter Carrier ',
                });
                return false;
            }
            return true;
        }
        function validateCancellationReason() {
            var cancellationReason = document.getElementById("cancellationReason").value;
            var warningDiv = document.getElementById("cancellationReasonWarning");

            if (cancellationReason.trim() === "") {
                warningDiv.style.display = "block";
                return false;
            } else {
                warningDiv.style.display = "none";
                return true;
            }
        }


       
    </script>
}
@*   Model.OrderHeader.OrderStatus != SD.StatusShipped  *@




